.App {
  background: url('./img/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  overflow-y: scroll;
}
.App-header {
  padding: 1em 0;
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1 {
  font-weight: 800;
  font-size: 50px;
}
h2 {
  font-weight: 900px;
}
.App-header div {
  width: 150px;
}
.App-header img {
  height: auto;
  width: 40px;
}
article.container {
  margin: 3em auto;
}
article.hero {
  margin-bottom: 10em;
}
#waitlist {
  margin-bottom: 5em;
}
.marketing section {
  margin-top: 12em;
  margin-bottom: 5em;
  padding: 2em;
}
.marketing p {
  margin-top: .5em;
}
span {
  color: red;
  display: block;
}
.marketing section img {
  width: 100%;
  height: auto;
}
form {
  padding: 0;
  width: 60%;
  margin: auto;
  padding: 3em;
  background: #222222;
  color: #ffffff;
  border-radius: 5px;
}
form h2 {
  margin-bottom: 1em;
}
label {
  font-weight: 600;
}
input, select {
  padding: .8em;
  width: 100%;
  border: 5px;
  margin-bottom: 1em;
  border-radius: 5px;
}
.formGroup {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.formGroup .inputGroup {
  width: 48%;
}
button {
  background: rgb(0, 194, 0);
  color: #ffffff;
  border: none;
  font-size: 18px;
  margin-top: 1.5em;
  padding: 1em 3em;
  cursor: pointer;
  border-radius: 5px;
}

.error {
  color: red;
}

@media screen and (min-width: 700px) {
  footer {
    text-align: center;
    bottom: 0;
    left: 0;
    padding: 1em;
    width: 100%;
  }
  .formGroup .inputGroup {
    width: 100%;
  }
}

@media only screen and (max-width: 1024px) {
  footer {
    text-align: center;
    padding: 1em;
    width: 100%;
  }
  .marketing section {
    margin-top: 0;
  }
  input {
    padding: .5em;
  }
  button {
    padding: .5em;
  }
  form {
    width: 95%;
    padding: 2em 1em;
  }
  form h2 {
    font-size: 25px;
  }
  article.hero {
    margin-bottom: 0;
  }
  .formGroup .inputGroup {
    width: 100%;
  }
}
