.App {
  background: url('./img/bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}
.App-header {
  padding: 1em;
}
h1 {
  font-weight: 800;
}
.App-header div {
  width: 150px;
}
.App-header img {
  height: auto;
  width: 100%;
}
article.container {
  margin: 3em auto;
}
.marketing section {
  margin-top: 10em;
  padding: 2em;
}
span {
  color: red;
  display: block;
}
.marketing section img {
  width: 100%;
  height: auto;
}
form {
  padding: 0;
  width: 100%;
}
label {
  font-weight: 600;
}
input {
  padding: .8em;
  width: 100%;
  border: 5px;
  margin-bottom: 1em;
  border: 2px solid rgba(0, 0, 0, .3);
  border-radius: 5px;
}
form button {
  background: rgb(0, 194, 0);
  color: #ffffff;
  border: none;
  font-size: 15px;
  width: 60%;
  padding: .8em .3em;
  cursor: pointer;
  border-radius: 5px;
}

@media screen and (min-width: 700px) {
  footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 1em;
    width: 100%;
  }
}

@media only screen and (max-width: 700px) {
  footer {
    text-align: center;
    padding: 1em;
    width: 100%;
  }
  .marketing section {
    margin-top: 0;
  }
  input {
    padding: .5em;
  }
  button {
    padding: .5em;
  }
}
